<% provide(:title, @project.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="project_info">
      <h1>
        <%= @project.name %> 
        <br>
        <%= @project.content %>
        <br>
        <%= @project.skill %>
        <br>
        <%= @project.status %>
        <br>
        <%= @project.member %>
      </h1>
    </section>
  </aside>
</div>