<% provide(:title, @project.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="project_info">
      <h1>
        <%= @project.name %> 
        <br>
        <%= @project.content %>
        <br>
        <%= @project.skill %>
        <br>
        <%= @project.status %>
        <br>
        <%= @project.member %>

        <ul>
          <% @project.members.each do |member| %>
            <li>
              <%= member.name %>
            </li>
          <% end %>
          <li><%= link_to "メンバー追加", edit_project_path %></li>
        </ul>
      </h1>
    </section>
  </aside>
</div>