<% provide(:title, @member.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="member_info">
      <h1>
        <%= @member.name %> 
        <br>
        <%= @member.profile %>
        <br>
        <%= @member.skill %>
        <br>
        <%= @member.project %>
        <br>
        <%= @member.coment %>
      </h1>
    </section>
  </aside>
</div>